# Node and frontend
node_modules/
frontend/dist/
frontend/.env

# Python and backend
__pycache__/
*.pyc
*.pyo
*.pyd
backend/.env

# Venvs (optional but good)
venv/
env/

# OS
.DS_Store
Thumbs.db

# Logs and cache
*.log
*.sqlite3
